<div class="main">
        <div class="productSide">
            <div class="newProduct">
                <h2 class="formTitle">Add a new product</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Product Name</label>
                        <input type="text" class="form-control" id="name"><br>
                        <label for="exampleInputEmail1">Product Price</label>
                        <input type="number" class="form-control" id="price"><br>
                        <label for="exampleInputEmail1">Product URL image</label>
                        <input type="text" class="form-control" id="img">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="products">
                {{> products}}
            </div>
        </div>

        <div class="chatSide">
            <div class="casing">
                <div class="window">
                    <div class="header" id="header">Usuario</div>

                    <div class="chats box" id="chats">

                        {{!-- insert chats --}}

                    </div>

                    <div class="new-chat">
                        <input type="text" id="chatBox" />
                        <button id="send">Send</button>
                    </div>
                </div>
                <div class="home-btn">
                    <div class="hb-square"></div>
                </div>
            </div>
        </div>
    </div>





<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>