<div class="container">
    <h1>Register</h1>

    <form id="registerForm">
        <label>Nombre</label>
        <input name="name"><br>
        <label>Email</label>
        <input name="email"><br>
        <label>Password</label>
        <input type="password" name="password"><br>
        <input type="submit" class="btn btn-outline-primary" value="send">
    </form>
    <button id="loginBtn" type="button" class="btn btn-outline-secondary">login</button>
    <script src="/scripts/register.js"></script>
</div>